
<div class="container-fluid g-0">
  <div class="row">
    <div class="col-lg-12 p-0">
      <div class="header_iner d-flex justify-content-between align-items-center">
        <div class="sidebar_icon">
          <i class="ti-menu"></i>
          <h1 style="margin-bottom: 0px;margin-left: 30px;color:rgba(177, 143, 4, 1);"><b>Safety Tools</b></h1>
          <h4 style="margin-left: 30px;color: gray;">Project Requirements / Safety Tools</h4>
        </div>
        <div class="header_right d-flex justify-content-between align-items-center">
          <div class="header_notification_warp d-flex align-items-center">
            <li>
              <img src="/assets/search.png" style="margin-right: 20px;">
            </li>
            <li>
              <img src="/assets/bell.png" style="margin-right: 20px;">
              <div>
                  <div></div>
                  <div></div>
                  <div></div>
              </div>
            </li>
          </div>
          <div class="d-flex align-items-center">
            <div class="profile_thumb mr_20">
              <img src="https://w7.pngwing.com/pngs/452/495/png-transparent-react-javascript-angularjs-ionic-github-text-logo-symmetry-thumbnail.png" style="margin-right: 10px;height: 15px;width: 15px;">
            </div>
            <div>
              <h3 style="margin-right: 20px;margin-bottom: 0px;"><b>LogOut</b></h3>
            </div>
            <div>
              <div></div>
              <div></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- <div class="container">
<div class="row g-3">
  <div class="col-sm-2" style="margin-left: 20px;">
    <label for="validationDefault01" class="form-label">Project Code<span style="color: red;">*</span></label>
    <select class="form-select" id="validationDefault04" required>
      <option selected disabled value="">Project Code</option>
      <option>...</option>
    </select>
    </div>
    <div class="col">
      <img src="/assets/Frame 67.png" style="padding-top: 20px;">
    </div>
</div>
<div>
  <div style="padding-left: 30px;padding-top: 15px;">
      <img src="/assets/Frame 95.png">
  </div>
</div>
</div> -->
  


<div class="container-fluid g-0">
  <div class="row">
    <div class="col-lg-12 p-0">
      <div class="header_iner d-flex justify-content-between align-items-center">
          <div class="col-sm-2" style="margin-left: 30px;">
              <label for="validationDefault01" class="form-label">Project Code<span style="color: red;">*</span></label>
              <select class="form-select" id="validationDefault04" required>
                <option selected disabled value="">Project Code</option>
                <option>...</option>
              </select>
              </div>
              <div class="col">
                <button class="btn" (click)="next('safety-tools2')">
                  <img src="/assets/Frame 67.png" style="padding-top: 20px;padding-left: 20px;">
                </button>
              </div>
              <div style="padding-top: 15px;margin-right: 80px;">
                <button class="btn" (click)="next('safety-tools3')">
                  <p style="background-color: brown;color: azure;border-radius: 5px;padding: 5px;">create</p>
                </button>
              </div>  
          </div>
      </div>
  </div>
</div>



<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-end" style="margin-right: 20px;">
    <li class="page-item"><a class="page-link" style="background-color: rgba(102, 83, 8, 1);color: white;">10</a></li>
    <li class="page-item"><a class="page-link" href="#" style="color: black;">25</a></li>
    <li class="page-item"><a class="page-link" href="#" style="color: black;">50</a></li>
    <li class="page-item"><a class="page-link" href="#" style="color: black;">100</a></li>
  </ul>
</nav>



<div class="container" style="width: 40%;height: 60%;margin-left: 20%;">
<table class="table" style="border: 1px solid gray;">
  <thead>
    <tr>
      <th scope="col">Sno</th>
      <th scope="col">Project Code</th>
      <th scope="col">Project Master</th>
      <th scope="col">Activity</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td><img src="/assets/eye.png"></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
      <td><img src="/assets/eye.png"></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td></td>
      <td></td>
      <td></td>
      <td><img src="/assets/eye.png"></td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td></td>
      <td></td>
      <td></td>
      <td><img src="/assets/eye.png"></td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td></td>
      <td></td>
      <td></td>
      <td><img src="/assets/eye.png"></td>
    </tr>
    <tr>
      <th scope="row">6</th>
      <td></td>
      <td></td>
      <td></td>
      <td><img src="/assets/eye.png"></td>
    </tr>
    <tr>
      <th scope="row">7</th>
      <td></td>
      <td></td>
      <td></td>
      <td><img src="/assets/eye.png"></td>
    </tr>
    <tr>
      <th scope="row">8</th>
      <td></td>
      <td></td>
      <td></td>
      <td><img src="/assets/eye.png"></td>
    </tr>
    <tr>
      <th scope="row">9</th>
      <td></td>
      <td></td>
      <td></td>
      <td><img src="/assets/eye.png"></td>
    </tr>
    <tr>
      <th scope="row">10</th>
      <td></td>
      <td></td>
      <td></td>
      <td><img src="/assets/eye.png"></td>
    </tr>
  </tbody>
</table>
</div>





<div class="arrow" style="display: flex;margin-left: 435px;">
  <div><img src="assets\chevron-right (1).png" style="font-size: 5px;"></div>
  <div><img src="assets\chevron-right.png" style="font-size: 5px;"></div>
</div>





