mat-icon {
    margin-left: 20px;
    padding-top: 20px;
}

// span {
//     margin-left: 20px;
//     font-size: 16px;
// }

// .container {
//     justify-content: left;
// }


// .code {
//     padding-left: 30px;
//     padding-top: 20px;
// }

// .master {
//     padding-left: 40px;
//     padding-top: 20px;
// }

// .company {
//     padding-left: 40px;
//     padding-top: 20px;
// }


// .activity {
//     padding-left: 30px;
//     padding-top: 20px;
// }


// .Job {
//     padding-left: 40px;
//     padding-top: 20px;
// }


li {
    list-style: none;
}

