
<div class="container-fluid g-0">
    <div>
      <div class="col-lg-12 p-0">
        <div class="header_iner d-flex justify-content-between align-items-center">
          <div class="sidebar_icon">
            <i class="ti-menu"></i>
            <h1 style="margin-bottom: 0px;margin-left: 20px;color:rgba(177, 143, 4, 1);"><b>Daily Operational Data</b></h1>
            <h4 style="margin-left: 20px;color: gray;">Daily Operational Data</h4>
          </div>
          <div class="header_right d-flex justify-content-between align-items-center">
            <div class="header_notification_warp d-flex align-items-center">
              <li>
                <img src="/assets/search.png" style="margin-right: 20px;">
              </li>
              <li>
                <img src="/assets/bell.png" style="margin-right: 20px;">
                <div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
              </li>
            </div>
            <div class="d-flex align-items-center">
              <div class="profile_thumb mr_20">
                <img src="https://w7.pngwing.com/pngs/452/495/png-transparent-react-javascript-angularjs-ionic-github-text-logo-symmetry-thumbnail.png" style="margin-right: 10px;height: 15px;width: 15px;">
              </div>
              <div>
                <h3 style="margin-right: 20px;margin-bottom: 0px;"><b>LogOut</b></h3>
              </div>
              <div>
                <div></div>
                <div></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  
  <div class="row g-3">
    <div class="col-md-2" style="margin-left: 20px;">
      <label for="validationDefault01" class="form-label" style="color: black;">Project Code<span style="color: red;">*</span></label>
      <select class="form-select" id="validationDefault04" value="" required>
        <option selected disabled value=""><b>Project Code</b></option>
        <!-- <option>...</option> -->
      </select>
    </div>
    <div class="col-md-2" style="margin-left: 20px;">
      <label for="validationDefault02" class="form-label" style="color: black;">Project Company<span style="color: red;">*</span></label>
      <select class="form-select" id="validationDefault04" value="" required>
        <option selected disabled value=""><b>Project Company</b></option>
        <!-- <option>...</option> -->
      </select>
    </div>
    <div class="col-md-2" style="margin-left: 20px;">
      <label for="validationDefault02" class="form-label" style="color: black;">Project Master</label>
      <select class="form-select" id="validationDefault04" value="" required>
        <option selected disabled value=""><b>Project Master</b></option>
        <!-- <option>...</option> -->
      </select>
    </div>    
  </div>


  <div class="row g-3" style="margin-top: 10px;">
    <div class="col-sm-2" style="margin-left: 20px;">
      <label for="validationDefault01" class="form-label" style="color: black;">Date<span style="color: red;">*</span></label>
      <select class="form-select" id="validationDefault04" value="" required>
        <option selected disabled value=""><b>21 july 2023</b></option>
        <!-- <option>...</option> -->
      </select>
    </div>
    <div class="col-md-2" style="margin-left: 20px;">
      <label for="validationDefault02" class="form-label" style="color: black;">Chainage<span style="color: red;">*</span></label>
      <select class="form-select" id="validationDefault04" value="" required>
        <option selected disabled value=""><b>Chainage</b></option>
        <!-- <option>...</option> -->
      </select>
    </div>
    <div class="col-md-2" style="margin-left: 20px;">
      <label for="validationDefault02" class="form-label" style="color: black;">Project Master</label>
      <select class="form-select" id="validationDefault04" value="" required>
        <option selected disabled value=""><b>Project Master</b></option>
        <!-- <option>...</option> -->
      </select>
    </div> 
    <div class="col-md-2" style="margin-left: 20px;">
        <label for="validationDefault02" class="form-label" style="color: black;">Project Master</label>
        <select class="form-select" id="validationDefault04" value="" required>
          <option selected disabled value=""><b>Project Master</b></option>
          <!-- <option>...</option> -->
        </select>
      </div>
      <div class="col-md-2" style="margin-left: 20px;">
        <label for="validationDefault02" class="form-label" style="color: black;">Job Identification</label>
        <select class="form-select" id="validationDefault04" value="" required>
          <option selected disabled value=""></option>
          <!-- <option>...</option> -->
        </select>
      </div>   
  </div>


<div class="container" style="border: 2px solid gainsboro;margin-top: 20px;border-radius: 5px;margin-left: 20px;width: 85%;padding: 20px;">
  <div class="row g-3">
    <h2 style="margin-bottom: 0px;"><b>Man Power</b></h2>
    <div class="col-sm-2" style="padding-left: 0px;">
      <label for="validationDefault01" class="form-label">Personnel</label>
      <select class="form-select" id="validationDefault04" required></select>
      <!-- <option selected disabled value=""></option> -->
      <!-- <option>...</option> -->
    </div>
    <div class="col-md-2" style="margin-left: 10px;">
      <label for="validationDefault02" class="form-label">Working-Time In</label>
      <input type="text" class="form-control" id="validationDefault01" value="" required>
    </div>
    <div class="col-md-2" style="margin-left: 10px;">
      <label for="validationDefault02" class="form-label">Working-Time out</label>
      <select class="form-select" id="validationDefault04" required></select>
    </div>
    <div class="col">
      <img src="/assets/Add (1).png" style="padding-top: 20px;">
    </div>  
</div>
</div>





  <div class="container" style="border: 2px solid gainsboro;margin-top: 20px;border-radius: 5px;margin-left: 20px;width: 85%;padding: 20px;">
    <div class="row g-3">
      <h2 style="margin-bottom: 0px;"><b>Consumables</b></h2>
      <div class="col-sm-2" style="padding-left: 0px;">
        <label for="validationDefault01" class="form-label">Personnel</label>
        <input type="text" class="form-control" id="validationDefault01" value="" required>
      </div>
      <div class="col-md-2" style="margin-left: 10px;">
        <label for="validationDefault02" class="form-label">Working-Time In</label>
        <input type="text" class="form-control" id="validationDefault01" value="" required>
      </div>
      <div class="col-md-2" style="margin-left: 10px;">
        <label for="validationDefault02" class="form-label">Working-Time out</label>
        <input type="text" class="form-control" id="validationDefault01" value="" required>
      </div>
      <div class="col">
        <img src="/assets/Add (1).png" style="padding-top: 20px;">
      </div>  
  </div>
  <div class="row g-3" style="padding-top: 5px;">
    <div class="col-sm-2" style="padding-left: 0px;">
      <label for="validationDefault01" class="form-label">Description</label>
      <input type="text" class="form-control" id="validationDefault01" value="Lorem" required>
    </div>
    <div class="col-md-2" style="margin-left: 10px;">
      <label for="validationDefault02" class="form-label">Specification</label>
      <input type="text" class="form-control" id="validationDefault01" value="" required>
    </div>
    <div class="col-md-2" style="margin-left: 10px;">
      <label for="validationDefault02" class="form-label">Quantity</label>
      <input type="text" class="form-control" id="validationDefault01" value="" required>
    </div>
    <div class="col" style="padding-top: 20px;">
      <img src="/assets/Delete.png" style="padding-top: 20px;">
    </div>  
</div>
</div>




<div class="container" style="border: 2px solid gainsboro;margin-top: 20px;border-radius: 5px;margin-left: 20px;width: 85%;padding: 20px;">
    <div class="row g-3">
      <h2 style="margin-bottom: 0px;"><b>Tools & Tackles</b></h2>
      <div class="col-sm-2" style="padding-left: 0px;">
        <label for="validationDefault01" class="form-label">Material<span style="color: red;">*</span></label>
        <input type="text" class="form-control" id="validationDefault01" value="" required>
      </div>
      <div class="col-md-2" style="margin-left: 10px;">
        <label for="validationDefault02" class="form-label">Qty<Span style="color: red;">*</Span></label>
        <input type="text" class="form-control" id="validationDefault01" value="" required>
      </div>
      <div class="col">
        <img src="/assets/Add (1).png" style="padding-top: 20px;">
      </div>  
  </div>
  <div class="row g-3" style="padding-top: 5px;">
    <div class="col-sm-2" style="padding-left: 0px;">
      <label for="validationDefault01" class="form-label">Description</label>
      <input type="text" class="form-control" id="validationDefault01" value="Lorem" required>
    </div>
    <div class="col-md-2" style="margin-left: 10px;">
      <label for="validationDefault02" class="form-label">Quantity</label>
      <input type="text" class="form-control" id="validationDefault01" value="" required>
    </div>
    <div class="col" style="padding-top: 20px;">
      <img src="/assets/Delete.png" style="padding-top: 20px;">
    </div>  
</div>
</div>



<div class="container" style="border: 2px solid gainsboro;margin-top: 20px;border-radius: 5px;margin-left: 20px;width: 85%;padding: 20px;">
    <div class="row g-3">
      <h2 style="margin-bottom: 0px;"><b>Instruments</b></h2>
      <div class="col-sm-2" style="padding-left: 0px;">
        <label for="validationDefault01" class="form-label">Material<span style="color: red;">*</span></label>
        <input type="text" class="form-control" id="validationDefault01" value="" required>
      </div>
      <div class="col-md-2" style="margin-left: 10px;">
        <label for="validationDefault02" class="form-label">Qty<Span style="color: red;">*</Span></label>
        <select class="form-select" id="validationDefault04" required>
          <option selected disabled value=""></option>
          <option>...</option>
        </select>
      </div>
      <div class="col">
        <img src="/assets/Add (1).png" style="padding-top: 20px;">
      </div>  
  </div>
  <div class="row g-3" style="padding-top: 5px;">
    <div class="col-sm-2" style="padding-left: 0px;">
      <label for="validationDefault01" class="form-label">Description</label>
      <input type="text" class="form-control" id="validationDefault01" value="Lorem" required>
    </div>
    <div class="col-md-2" style="margin-left: 10px;">
      <label for="validationDefault02" class="form-label">Quantity</label>
      <select class="form-select" id="validationDefault04" required>
        <option selected disabled value="">1</option>
        <option>...</option>
      </select>
    </div>
    <div class="col" style="padding-top: 20px;">
      <img src="/assets/Delete.png" style="padding-top: 20px;">
    </div>  
</div>
</div>



<div class="container" style="border: 2px solid gainsboro;margin-top: 20px;border-radius: 5px;margin-left: 20px;width: 85%;padding: 20px;">
    <div class="row g-3">
      <h2 style="margin-bottom: 0px;"><b>Safety Tools</b></h2>
      <div class="col-sm-2" style="padding-left: 0px;">
        <label for="validationDefault01" class="form-label">Material<span style="color: red;">*</span></label>
        <input type="text" class="form-control" id="validationDefault01" value="" required>
      </div>
      <div class="col-md-2" style="margin-left: 10px;">
        <label for="validationDefault02" class="form-label">Qty<Span style="color: red;">*</Span></label>
        <select class="form-select" id="validationDefault04" required>
          <option selected disabled value=""></option>
          <option>...</option>
        </select>
      </div>
      <div class="col">
        <img src="/assets/Add (1).png" style="padding-top: 20px;">
      </div>  
  </div>
  <div class="row g-3" style="padding-top: 5px;">
    <div class="col-sm-2" style="padding-left: 0px;">
      <label for="validationDefault01" class="form-label">Description</label>
      <input type="text" class="form-control" id="validationDefault01" value="Lorem" required>
    </div>
    <div class="col-md-2" style="margin-left: 10px;">
      <label for="validationDefault02" class="form-label">Quantity</label>
      <select class="form-select" id="validationDefault04" required>
        <option selected disabled value="">1</option>
        <option>...</option>
      </select>
    </div>
    <div class="col" style="padding-top: 20px;">
      <img src="/assets/Delete.png" style="padding-top: 20px;">
    </div>  
</div>
</div>




<div>
<div class="container" style="border: 2px solid gainsboro;margin-top: 20px;border-radius: 5px;margin-left: 20px;width: 100%;padding: 20px;">
  <div class="row g-3">
    <h2><b>Machinery</b></h2>
    <div class="col-sm-2" style="padding-left: 0px;">
      <label for="validationDefault01" class="form-label">Machine</label>
      <input type="text" class="form-control" id="validationDefault01" value="" required>
    </div>
    <div class="col-md-2" style="margin-left: 10px;">
      <label for="validationDefault02" class="form-label">Operator</label>
      <select class="form-select" id="validationDefault04" required>
        <option selected disabled value=""></option>
        <option>...</option>
      </select>
    </div>   
    <div class="col">
      <img src="/assets/Add (1).png" style="padding-top: 20px;">
    </div> 
  </div>

  <hr>

  <!-- <div class="container" style="border: 2px solid gainsboro;margin-top: 20px;border-radius: 5px;margin-left: 20px;width: 85%;"> -->
    <div class="row g-3 ">
      <h2>Working Hours</h2>
      <div class="col-md-2">
        <label for="validationDefault01" class="form-label">Start Time<span style="color: red;">*</span></label>
        <input type="text" class="form-control" id="validationDefault01" value="Welding" required style="width: 70%;">
      </div>
      <div class="col-md-2">
        <label for="validationDefault02" class="form-label">End Time<span style="color: red;">*</span></label>
        <select class="form-select" id="validationDefault04" required style="width: 70%;">
          <option selected disabled value=""></option>
          <option>...</option>
        </select>
      </div>
      <div class="col-md-2">
        <label for="validationDefault02" class="form-label">Start Time<span style="color: red;">*</span></label>
        <select class="form-select" id="validationDefault04" required style="width: 70%;">
          <option selected disabled value=""></option>
          <option>...</option>
        </select>
      </div>
      <div class="col-md-2">
        <label for="validationDefault02" class="form-label">End Time<span style="color: red;">*</span></label>
        <select class="form-select" id="validationDefault04" required style="width: 70%;">
          <option selected disabled value=""></option>
          <option>...</option>
        </select>
      </div>
      <div class="col-md-2" >
        <label for="validationDefault02" class="form-label">Fuel Qty</label>
        <select class="form-select" id="validationDefault04" required style="width: 70%;">
          <option selected disabled value=""></option>
          <option>...</option>
        </select>
      </div>
      <div class="col-md-2">
        <label for="validationDefault02" class="form-label">Fuel Cost/Ltr</label>
        <select class="form-select" id="validationDefault04" required style="width: 70%;">
          <option selected disabled value=""></option>
          <option>...</option>
        </select>
      </div>        
      <div class="col">
        <img src="/assets/Add (1).png" style="padding-top: 20px;">
      </div> 
    
</div>
</div>


<div style="padding-left: 30px;padding-top: 15px;">
    <img src="/assets/Frame 95.png">
</div>