mat-icon {
    margin-left: 20px;
    padding-top: 10px;
}

span {
    margin-left: 20px;
    font-size: 16px;
}

.container {
    justify-content: left;
}

.code {
    padding-left: 30px;
    
}

.master {
    padding-left: 40px;
}

.company {
    padding-left: 40px;
    
}

th {
    border: 1px solid gray;
}

td {
    text-align: center;
    border: 1px solid gray;
}

.arrow {
    font-size: 5px;
    margin-left: 40%;
}

.card {

    margin-left: 10px;
    width: 90%;
    height: 80px;
}


li {
    list-style: none;
}

td {
    text-align: center;
    border: 1px solid black;
}

th {
    text-align: center;
    border: 1px solid black;
}





.example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
  }
  
  .mat-table {
    overflow: auto;
    max-height: 500px;
  }
  