
<div class="container-fluid g-0">
    <div class="row">
      <div class="col-lg-12 p-0">
        <div class="header_iner d-flex justify-content-between align-items-center">
          <div class="sidebar_icon">
            <i class="ti-menu"></i>
            <div style="display: flex;">
                <div>
                 <button class="btn" (click)="next('consumables')"><img src="/assets/arrow-left.png" style="padding-top: 0px;padding-left: 25px;"></button>
                </div>
                <div>
                    <h1 style="margin-bottom: 0px;margin-left: 20px;color:rgba(177, 143, 4, 1);"><b>Consumables</b></h1>
                    <h4 style="margin-left: 20px;color: gray;">Project Requirements / Consumables3</h4>
                </div>
            </div>
          </div>
          <div class="header_right d-flex justify-content-between align-items-center">
            <div class="header_notification_warp d-flex align-items-center">
              <li>
                <img src="/assets/search.png" style="margin-right: 20px;">
              </li>
              <li>
                <img src="/assets/bell.png" style="margin-right: 20px;">
                <div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
              </li>
            </div>
            <div class="d-flex align-items-center">
              <div class="profile_thumb mr_20">
                <img src="https://w7.pngwing.com/pngs/452/495/png-transparent-react-javascript-angularjs-ionic-github-text-logo-symmetry-thumbnail.png" style="margin-right: 10px;height: 15px;width: 15px;">
              </div>
              <div>
                <h3 style="margin-right: 20px;margin-bottom: 0px;"><b>LogOut</b></h3>
              </div>
              <div>
                <div></div>
                <div></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  
  <div class="row g-3">
    <div class="col-sm-2" style="margin-left: 20px;">
      <label for="validationDefault01" class="form-label" style="color: gray;">Project Code<span style="color: red;">*</span></label>
      <select class="form-select" id="validationDefault04" value="" required>
        <option selected disabled value=""><b>Project Code</b></option>
        <!-- <option>...</option> -->
      </select>
    </div>
    <div class="col-md-2" style="margin-left: 20px;">
      <label for="validationDefault02" class="form-label" style="color: gray;">Project Company<span style="color: red;">*</span></label>
      <select class="form-select" id="validationDefault04" value="" required>
        <option selected disabled value=""><b>Indian Oil</b></option>
        <!-- <option>...</option> -->
      </select>
    </div>
    <div class="col-md-2" style="margin-left: 20px;">
      <label for="validationDefault02" class="form-label" style="color: gray;">Activity</label>
      <select class="form-select" id="validationDefault04" value="" required>
        <option selected disabled value=""></option>
        <!-- <option>...</option> -->
      </select>
    </div>    
  </div>


<div>
<div class="container" style="border: 2px solid gainsboro;margin-top: 20px;border-radius: 5px;margin-left: 20px;width: 85%;padding: 20px;">
  <div class="row g-3">
    <div class="col-sm-2" style="padding-left: 0px;">
      <label for="validationDefault01" class="form-label">Category</label>
      <input type="text" class="form-control" id="validationDefault01" value="Welding" required>
    </div>
    <div class="col-md-2" style="margin-left: 10px;">
      <label for="validationDefault02" class="form-label">Nos</label>
      <select class="form-select" id="validationDefault04" required>
        <option selected disabled value=""></option>
        <option>...</option>
      </select>
    </div>
    <div class="col-md-2" style="margin-left: 10px;">
      <label for="validationDefault02" class="form-label">Day</label>
      <select class="form-select" id="validationDefault04" required>
        <option selected disabled value=""></option>
        <option>...</option>
      </select>
    </div>
    <div class="col-md-2" style="margin-left: 10px;">
      <label for="validationDefault02" class="form-label">Hours</label>
      <select class="form-select" id="validationDefault04" required>
        <option selected disabled value=""></option>
        <option>...</option>
      </select>
    </div>
    <div class="col-md-2" style="margin-left: 10px;">
      <label for="validationDefault02" class="form-label">Salary</label>
      <select class="form-select" id="validationDefault04" required>
        <option selected disabled value=""></option>
        <option>...</option>
      </select>
    </div>    
    <div class="col">
      <img src="/assets/Add (1).png" style="padding-top: 20px;">
    </div> 
  </div>

  <hr>

  <!-- <div class="container" style="border: 2px solid gainsboro;margin-top: 20px;border-radius: 5px;margin-left: 20px;width: 85%;"> -->
    <div class="row g-3">
      <div class="col-sm-2" style="padding-left: 0px;">
        <label for="validationDefault01" class="form-label">Category</label>
        <input type="text" class="form-control" id="validationDefault01" value="Welding" required>
      </div>
      <div class="col-md-2" style="margin-left: 10px;">
        <label for="validationDefault02" class="form-label">Nos</label>
        <select class="form-select" id="validationDefault04" required>
          <option selected disabled value=""></option>
          <option>...</option>
        </select>
      </div>
      <div class="col-md-2" style="margin-left: 10px;">
        <label for="validationDefault02" class="form-label">Day</label>
        <select class="form-select" id="validationDefault04" required>
          <option selected disabled value=""></option>
          <option>...</option>
        </select>
      </div>
      <div class="col-md-2" style="margin-left: 10px;">
        <label for="validationDefault02" class="form-label">Hours</label>
        <select class="form-select" id="validationDefault04" required>
          <option selected disabled value=""></option>
          <option>...</option>
        </select>
      </div>
      <div class="col-md-2" style="margin-left: 10px;">
        <label for="validationDefault02" class="form-label">Salary</label>
        <select class="form-select" id="validationDefault04" required>
          <option selected disabled value=""></option>
          <option>...</option>
        </select>
      </div>    
      <div class="col">
        <img src="/assets/Add (1).png" style="padding-top: 20px;">
      </div> 
    
</div>
</div>


<div style="padding-left: 30px;padding-top: 15px;">
    <img src="/assets/Frame 95.png">
</div>